<div class="nav">
    <div class="left">
        <div class="nav-item" (click)="goToDirectives()">Directives</div>
        <div class="nav-item" (click)="goToPromises()">Promises</div>
        <div class="nav-item" (click)="goToObservables()">Observables</div>
        <div class="nav-item" (click)="goToForkJoin()">ForkJoin</div>
        <div class="nav-item" (click)="goToHttpInterceptors()">Http Interceptors</div>
        <div class="nav-item" (click)="goToNgForTrackBy()">ngFor trackBy</div>
        <div class="nav-item" (click)="goToAbout()">About</div>
        <div class="nav-item" (click)="goToContact()">Contact</div>
        <div class="nav-item" (click)="goToOffers()">Offers</div>
    </div>
    <div class="right">
        <div class="nav-item" (click)="goToAdmin()">Admin</div>
    </div>
</div>